
@{
    ViewBag.Title = "Consultation";
}

<h2>Book a consultation with your lecturer.</h2>
<h4>Your deatils</h4>

<form class="row g-3">
    
    <div class="col-md-6">
        <label for="inputFName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="inputFName" placeholder="Xander" required>
        <div class="invalid-feedback">
            Please provide your first name.
        </div>
    </div>
    <div class="col-md-6">
        <label for="inputLName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="inputLName" placeholder="Visagie" required>
        <div class="invalid-feedback">
            Please provide your last name.
        </div>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
        <div class="invalid-feedback">
            Please provide a valid email address.
        </div>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Comments</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="INF 272 is a real difficult module" rows="5"></textarea>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-success">Sign in</button>
    </div>
</form>

